<<<<<<< HEAD
.first {
  background-color: black;
  height: 230px;
  background-image: ul(../img/bkg.jpg);
  color: white;
}

.car {
  /*width: 100px;*/
  height: 350px;
}

.topright {
  float: right;
  /*padding-bottom: 100%;*/
  padding-top: 130px;
  margin-bottom: 0px;
  margin-right: 1px;
  margin-top: 0px;
}

.about {
  text-align: center;
}

.bottomright {
  padding-top: 200px;
  float: right;
  height: 250px;
  width: 100%;
  background-color: black;
}

.h1 {
  text-align: center;
}
=======
.bererihostel{
	float: right;
}
>>>>>>> 6f995f2230de99aa0b17d71093b07bcd4a92d3c1
